[submodule ".config/mpv/scripts/videoclip"]
	path = .config/mpv/scripts/videoclip
	url = https://github.com/Ajatt-Tools/videoclip.git
[submodule ".config/mpv/scripts/quack"]
	path = .config/mpv/scripts/quack
	url = git@github.com:CounterPillow/mpv-quack.git
[submodule ".config/mpv/scripts/autosubsync"]
	path = .config/mpv/scripts/autosubsync
	url = git@github.com:joaquintorres/autosubsync-mpv.git
[submodule ".config/mpv/scripts/autosub"]
	path = .config/mpv/scripts/autosub
	url = git@github.com:davidde/mpv-autosub.git
[submodule ".config/mpv/scripts/reload"]
	path = .config/mpv/scripts/reload
	url = git@github.com:4e6/mpv-reload.git
[submodule ".config/awesome/nice"]
	path = .config/awesome/nice
	url = git@github.com:mut-ex/awesome-wm-nice.git
	branch = awesome-4v3-stable
[submodule ".config/awesome/keyboard_layout"]
	path = .config/awesome/keyboard_layout
	url = git@github.com:echuraev/keyboard_layout.git
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/pegasus-frontend/themes/gameOS"]
	path = .config/pegasus-frontend/themes/gameOS
	url = git@github.com:PlayingKarrde/gameOS.git
